---
import { Image } from "astro:assets";
import Logo from "../assets/logo/setar_logo_full.png";

interface Props {
  title: string;
  description: string;
}

let { description, title } = Astro.props;

export const routes = [
  { name: "Über", link: "/about" },
  { name: "Events", link: "/events" },
  { name: "Gallerie", link: "/gallery" },
  { name: "Geschichte", link: "/history" },
  { name: "Newsletter", link: "/newsletter" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Setar - {title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <nav class="flex gap-4 justify-between items-center p-8">
      <a aria-label="Home" href="/">
        <Image loading="eager" src={Logo} alt="Setar Logo" class="w-20" />
      </a>
      <div class="flex gap-4">
        {
          routes.map(({ link, name }) => {
            return <a href={link}>{name}</a>;
          })
        }
      </div>
    </nav>
    <slot />
  </body>
  <style is:global>
    @font-face {
      font-family: "Nestor";
      src: url("/Nestor.ttf") format("ttf");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
  </style>
</html>
